<%= @user.username %>様。</p>

<p>スタジオ「<%= @studio.name %>」での予約がキャンセルされました。</p>

<p><strong>以下の詳細をご確認ください。</strong></p>

<ul>
  <li>日時: <%= @start_time %> 〜 <%= @end_time %></li>
  <li>スタジオ名: <%= @studio.name %></li>
</ul>

<p>ご不明な点がありましたら、サポートまでお問い合わせください。</p>

<p>よろしくお願いいたします。